.navbar li{
	list-style: none;
	display: inline;
	color: rgb(5, 167, 248);
	padding: 5px 7px;
	font-family: Comic Sans MS, cursive, sans-serif;
	border-left: 1px rgb(5, 167, 248) solid;
}

.navbar ul{
	text-align: right;
}

.navbar{
	background-color: black;
	width:100%;
	margin-top:0;
	border: 2px black solid;
}

.navbar a{
	text-decoration: none;
	padding: 10px 13px;
	color:rgb(5, 167, 248);
}

.navbar a:hover{
	background-color:rgb(5, 167, 248);
	color:black;
}


.Heading h1{
	font-family: Impact, sans-serif;
	color: #555;
	padding-bottom: 50px;
	padding-top:10px;
	padding-left: 10px;
	margin:0;
	background-color:white;
}


#form{

    width: 50%;
    height: 70%;
    background-color: #444;
    margin: auto;
    position: fixed;
    top: 58%; 
    left: 45%;   
    transform: translate(-50%, -50%);
    border: 3px #444 solid;
}

#sidebar{

	width: 25%;
	height: 100%;
	/*left: 40%;*/
	background-color: #fff;
	margin: auto;
	position: fixed;
	top:72%;
	right:-12.4%;
	transform: translate(-50%, -50%);
	border: 3px #fff solid;
}

body{
	background-image: url("../Images/back-f.jpg")
}

#Page{

	width: 45%;
	height: 65%;
	background-color: #444;
	margin: auto;
	position: fixed;
	top: 55%; 
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px black solid;
}

#btnGo{

    bottom: 5%;
    left: 50%;
}

.switch{

	margin: auto;
	border-radius: 9%;
    border: none;
    background-color: #555;
    color: rgb(5, 167, 248);
    padding: 1%;
    position: fixed;
}

#btnNex{

    bottom: 5%;
    right: 40%;
}

#btnPre{

    bottom: 5%;
    left: 40%;
}