.nav-container{
	display:flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: -18px;
}

.head-container{
	display: flex;
	flex-direction: column;
	background-color: rgb(234,240, 255);
	justify-content: center;
	margin-bottom: 10%;
}

h1{
	text-align: center;
	border-bottom:2px black solid;
	width:60%;
	margin:auto;
	padding: 20px;
}

li:hover{
	background-color:black;
}
li{
	 list-style: none;
	 display: inline;
	 padding: 15px 20px;
}

a{
	text-decoration: none;
	color: #000;
}

#image{
	width: 100%;
	bottom: 20px;
	
}

.picture{
	width:40%;
	text-align: center;
	margin:auto;
	color:white;
	position: absolute;
	top: 25%;
	left:30%;
}

.picture input:hover{
	background-color: white;
	color: rgb(242, 116, 95);
}

.picture input{
	background-color:rgb(242, 116, 95);
	color:white;
	border:none;
	padding:10px;
}

.mid-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.mid-container img{
	width:20%;
}

#red-block{
	background-color: rgb(242, 116, 95); 
	text-align: center;
	color:white;
	width:27%;
	padding: 10px 20px;
}

#mid-block{
	background-color: rgb(243, 130, 111);
	width:40%;
	padding: 1px 40px;
	margin:auto;

}

#red-block input{
	color:rgb(242, 116, 95);
	background-color: white;
	border:none;
	padding:10px;
}

#red-block input:hover{
	color: white;
	background-color: rgb(242, 116, 95);
	border: 2px white solid;
	border-radius: 5px;
}

.mid-container2{
	display: flex;
	justify-content: center;
}

article{
	margin-top: 10%;
	background-color: rgba(234,240, 255,0.4);
	width:20%;
	padding:5px;
	margin-left: 10px;
	padding:10px;
}

article img{
	width: 90%;
}

article label{
	background-color: white;
	color:rgb(242, 116, 95);
	position: relative;
	bottom:25px;
	left:232px;
}

article p{
	background-color: white;
}